body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
box-sizing: border-box;
text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25 !important;
  margin-left: 0.25 !important;
}

.App {
  text-align: center;
}

/* .get{
  width: 100%;
  background-color: red;
} */

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: red;
}

.title{
  background-color: purple;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.seeing{
  width: 100%;
  margin-bottom: 20px;
}

.btn{
  margin-top: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  background-color:lightgrey;
}
