body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
background-color:grey;

}
* {
box-sizing: border-box;
text-align: center;
}

input {
  width: 80% ;
  /* margin-right:5px; */
  /* margin-left: 5px; */
  padding: 10px;
  margin-top: 10px;
}

.App {
  text-align: center;
}

/* .get{
  width: 100%;
  background-color: red;
} */

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: black;
}

.title{
  /* background-color: purple; */
  color:black;
  padding: 15px;
  margin-bottom: 20px;
}

.seeing{
  width: 100%;
  margin-bottom: 20px;
}

.btn{
  margin-top: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  background-color:lightgrey;
}
.location{
  margin-top: 20px;
  padding: 10px;
}

.navbar{
  width:  100%;
 background-color: black;
  padding: 20px;

}

.navlink{
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
  width: 50%;
 
}

.navlink a{
  color: #fafafa;
}

img{
  width: 30%;
margin-right: 40px;
}

.image{
  display: flex;
}